In [1]:
import pandas as pd
import os

# Set dir
thisfile_dir = os.getcwd()
#thisfile_dir = os.path.dirname(os.path.abspath(__file__))
dir_cur = os.path.join(thisfile_dir, '..','outputs','extracted_data')
print("Target Directory:", dir_cur)

xlsx_file = "singtel-sustainability-report-2021.pdf.xlsx"
input_file = os.path.join(f"{dir_cur}", xlsx_file)

summary_file = "Summary_table.xlsx"
summary_path = os.path.join(f"{dir_cur}",'..' , summary_file)
summary = pd.read_excel(summary_path)

data = pd.read_excel(input_file)

unique_units = data['unit'].unique()
print("Unique values in 'unit' column:", unique_units)
print(summary)

Target Directory: d:\GitHub\DSS5105_BugBuster\tests\..\outputs\extracted_data
Unique values in 'unit' column: ['tCO2e' 'MWhs' 'ML' 't' 'Male Percentage (%)' 'Female Percentage (%)'
 'Number' 'Hours/No. of employees' 'Number of cases' 'Percentage (%)'
 'Millennials (%)' 'Discussion and number' 'mÂ³' 'GJ' 'Gen Xers (%)'
 'Number and Percentage (%)' 'List' 'TCFD' 'Internal' 'MWh' 'kg'
 'GJ/S$million_revenue' 'GJ/TB' 'Gen Z (%)' 'Baby Boomers (%)'
 'Male Hours/No. of employees' 'Female Hours/No. of employees' 'External'
 'Male Percentage' 'Female Percentage' 'Others Percentage (%)'
 'Metric tons (t)' nan]
                                  Company Name  Year  \
0   07_Synagie-Sustainability-Report-Final.pdf  2019
1   07_Synagie-Sustainability-Report-Final.pdf  2020
2   07_Synagie-Sustainability-Report-Final.pdf  2021
3            13_Synagie_Annual_Report_2018.pdf  2018
4            13_Synagie_Annual_Report_2018.pdf  2019
..                                         ...   ...
60              2022-sustainability-report.pdf  2018
61  20220407_171716_AWV_L5ACWYFIBNOQACYN.1.pdf  2020
62  20220407_171716_AWV_L5ACWYFIBNOQACYN.1.pdf  2023
63  20220407_171716_AWV_L5ACWYFIBNOQACYN.1.pdf  2021
64  20220407_171716_AWV_L5ACWYFIBNOQACYN.1.pdf  2022

    GHG Emissions (Scope 1) (tCO2e)  GHG Emissions (Scope 2) (tCO2e)  \
0                            5000.0                          10000.0
1                           12000.0                           8000.0
2                           10000.0                          12000.0
3                               NaN                              NaN
4                            9500.0                              NaN
..                              ...                              ...
60                              NaN                              NaN
61                          20000.0                          15000.0
62                           8000.0                           7000.0
63                              NaN                              NaN
64                              NaN                              NaN

    GHG Emissions (Scope 3) (tCO2e)  GHG Emissions (Total) (tCO2e)  \
0                            5000.0                        20000.0
1                            8000.0                        25000.0
2                            3000.0                        25000.0
3                               NaN                        50000.0
4                               NaN                            NaN
..                              ...                            ...
60                              NaN                            NaN
61                          15003.0                       500000.0
62                           5000.0                        20000.0
63                              NaN                        10500.0
64                              NaN                        50000.0

    Total Energy Consumption (MWhs)  Total Water Consumption (ML)  \
0                           30000.0                       15000.0
1                           50000.0                        1200.0
2                           50000.0                        1000.0
3                           50000.0                        1000.0
4                           72000.0                         145.0
..                              ...                           ...
60                              NaN                           NaN
61                         150000.0                        2000.0
62                          15000.0                         300.0
63                           5000.0                         250.0
64                         750000.0                        1000.0

    Total Waste Generated (t)  Current Employees by Gender (Female %)  ...  \
0                      2000.0                                    40.0  ...
1                       300.0                                    45.0  ...
2                       600.0                                    40.0  ...
3                       750.0                                    45.0  ...
4                       800.0                                     NaN  ...
..                        ...                                     ...  ...
60                        0.0                                     NaN  ...
61                    15000.0                                    45.0  ...
62                     1000.0                                    40.0  ...
63                      150.0                                    45.0  ...
64                    15000.0                                    40.0  ...

    Total Number of Employees  Average Training Hours per Employee  \
0                      1000.0                                  NaN
1                         NaN                                  NaN
2                         NaN                                  NaN
3                         NaN                                  NaN
4                         NaN                                  NaN
..                        ...                                  ...
60                        NaN                                  NaN
61                     5000.0                                 40.0
62                        NaN                                 20.0
63                      200.0                                 30.0
64                     1000.0                                 20.0

    Fatalities  High-consequence injuries  Recordable injuries  \
0          0.0                        2.0                  5.0
1          0.0                        NaN                  NaN
2          0.0                        NaN                  NaN
3          0.0                        NaN                  NaN
4          NaN                        NaN                  NaN
..         ...                        ...                  ...
60         NaN                        NaN                  NaN
61         0.0                        NaN                 25.0
62         0.0                        NaN                  NaN
63         0.0                        NaN                  NaN
64         0.0                        NaN                  NaN

    Recordable work-related ill health cases  Board Independence (%)  \
0                                        3.0                    70.0
1                                        NaN                    75.0
2                                        NaN                    75.0
3                                        NaN                     NaN
4                                        NaN                     NaN
..                                       ...                     ...
60                                       NaN                     NaN
61                                       NaN                     NaN
62                                       NaN                     NaN
63                                       NaN                    40.0
64                                       NaN                     NaN

    Women on the Board (%)  Women in Management Team (%)  \
0                     30.0                          40.0
1                     30.0                           NaN
2                      NaN                          30.0
3                     30.0                          40.0
4                      NaN                           NaN
..                     ...                           ...
60                     NaN                           NaN
61                    30.0                          30.0
62                    25.0                           NaN
63                     NaN                           NaN
64                    30.0                           NaN

    Anti-Corruption Training for Employees (%)
0                                         95.0
1                                          NaN
2                                          NaN
3                                          NaN
4                                          NaN
..                                         ...
60                                         NaN
61                                         NaN
62                                         NaN
63                                         NaN
64                                         NaN

[65 rows x 22 columns]

In [2]:
exchange_rates = {
    'EUR': 1.1,   # 1 EUR = 1.1 USD
    'GBP': 1.3,   
    'CAD': 0.8,   
    'CNY': 0.139,  
    'SGD': 0.754,
    'JPY': 0.0091, 
    'AUD': 0.7,
    'USD': 1  
}


def modify_units(row):
        # Check if the 'year' field is not null
    if pd.notnull(row['year']):
        year_str = str(row['year'])
        
        # Initialize variables for finding the year sequence
        potential_year = ''
        year_found = False
        
        for char in year_str:
            if char.isdigit():
                potential_year += char
            else:
                # Reset if the sequence goes beyond four digits
                potential_year = ''

            # Once four consecutive digits are found, validate
            if len(potential_year) == 4:
                year_int = int(potential_year)
                # Define the valid year range
                min_year, max_year = 2015, 2025
                if min_year <= year_int <= max_year:
                    row['year'] = year_int
                    year_found = True
                    break
                else:
                    # Reset and continue searching if invalid
                    potential_year = ''

        if not year_found:
            row['year'] = None
    else:
        row['year'] = None
    
    try:
        # If value is not already a numeric type, convert it to float
        row['value'] = float(row['value'])
    except (ValueError, TypeError):
        # If conversion fails, handle the exception 
        # (e.g., log an error, set value to None, return row unchanged, etc.)
        # For this example, let's return the row unchanged
        return row
    
    # Existing unit modifications
    if row['unit'] == 'GJ':
        row['unit'] = 'MWhs'
        row['value'] = row['value'] * 0.277778  # GJ to MWh
    elif row['unit'] == 'mÂ³':
        row['unit'] = 'ML'
        row['value'] = row['value'] * 0.001  # m3 to ML
    elif row['unit'] == 'm3':
        row['unit'] = 'ML'
        row['value'] = row['value'] * 0.001  # m3 to ML
    elif row['unit'] == 'kg':
        row['unit'] = 't'
        row['value'] = row['value'] / 1000  # kg to t
    elif row['unit'] in exchange_rates:
        row['value'] = row['value'] * exchange_rates[row['unit']]
        row['unit'] = 'USD' 
    elif row['unit'] == 'Million dollars':
        row['value'] = row['value'] * 1000000
        row['unit'] = 'USD' 

    return row

data = data.apply(modify_units, axis=1)
data

,Unnamed: 0,label,metric,unit,year,value
0,2,Greenhouse Gas Emissions,Total,tCO2e,2021.0,21500.0
1,3,Energy Consumption,Total energy consumption,MWhs,2021.0,4500.0
2,4,Water Consumption,Total water consumption,ML,2021.0,320.0
3,5,Waste Generation,Total waste generated,t,2021.0,600.0
4,6,Gender Diversity,Current employees by gender,Male Percentage (%),2021.0,55.0
...,...,...,...,...,...,...
325,365,Development & Training,Average training hours per employee,Hours/No. of employees,2020.0,20.5
326,366,Occupational Health & Safety,Fatalities,Number of cases,2020.0,0.0
327,367,Ethical Behaviour,Anti-corruption disclosures,Discussion and number,2021.0,NaN
328,368,Alignment with Frameworks,Alignment with frameworks and disclosure pract...,NaN,2021.0,NaN
329,369,Assurance,Assurance of sustainability report,Discussion and number,2021.0,NaN

In [37]:
def fill_esg_data(df, new_df, column_name, label=None, metric=None, unit=None):
    condition = pd.Series([True] * len(df))
    if label is not None:
        condition &= (df['label'].str.contains(label, regex=False))
    if metric is not None:
        condition &= (df['metric'].str.contains(metric, regex=False))
    if unit is not None:
        condition &= (df['unit'].str.contains(unit, regex=False))
    
    filtered_df = df[condition]

    def custom_agg(values):
        numeric_values = pd.to_numeric(values, errors='coerce').dropna()
        string_values = values[numeric_values.index.difference(values.index)]

        if not numeric_values.empty: 
            return numeric_values.max() 
        else:
            return ', '.join(string_values.unique()) 

    max_values_by_year = filtered_df.groupby('year')['value'].agg(custom_agg).reset_index()
    max_values_by_year = max_values_by_year.set_index('year')

    if column_name not in new_df.columns:
        new_df[column_name] = ''

    for year, row in max_values_by_year.iterrows():
        new_df.loc[year, column_name] = row['value']




def restructure(df,company_name):
    new_df = pd.DataFrame(columns=['year'])
    new_df.set_index('year', inplace=True)
    
    fill_esg_data(df, new_df, 'GHG Emissions (Scope 1) (tCO2e)', label='Greenhouse Gas Emissions', metric='Scope 1', unit = 'tCO2e')
    fill_esg_data(df, new_df, 'GHG Emissions (Scope 2) (tCO2e)', label='Greenhouse Gas Emissions', metric='Scope 2', unit='tCO2e')
    fill_esg_data(df, new_df, 'GHG Emissions (Scope 3) (tCO2e)', label='Greenhouse Gas Emissions', metric='Scope 3', unit='tCO2e')
    fill_esg_data(df, new_df, 'GHG Emissions (Total) (tCO2e)', label='Greenhouse Gas Emissions', metric='Total', unit='tCO2e')
    fill_esg_data(df, new_df, 'Total Energy Consumption (MWhs)', label='Energy Consumption', metric='Total energy consumption', unit='MWhs')
    fill_esg_data(df, new_df, 'Total Water Consumption (ML)', label='Water Consumption', metric='Total water consumption', unit='ML')
    fill_esg_data(df, new_df, 'Total Waste Generated (t)', label='Waste Generation', metric='Total waste generated', unit='t')
    fill_esg_data(df, new_df, 'Current Employees by Gender (Female %)', label='Gender Diversity', metric='Current employees by gender', unit='Female Percentage (%)')
    fill_esg_data(df, new_df, 'New Hires and Turnover by Gender (Female %)', label='Gender Diversity', metric='New hires and turnover by gender', unit='Female Percentage (%)')
    fill_esg_data(df, new_df, 'Current Employees by Age Groups (Millennials %)', label='Age-Based Diversity', metric='Current employees by age groups', unit='Millennials (%)')
    fill_esg_data(df, new_df, 'New Hires and Turnover by Age Groups (Millennials %)', label='Age-Based Diversity', metric='New hires and turnover by age groups', unit='Millennials (%)')
    fill_esg_data(df, new_df, 'Total Turnover (%)', label='Employment', metric='Total employee turnover')
    fill_esg_data(df, new_df, 'Total Number of Employees', label='Employment', metric='Total number of employees')
    fill_esg_data(df, new_df, 'Average Training Hours per Employee', label='Development & Training', metric='Average training hours per employee')
    fill_esg_data(df, new_df, 'Fatalities', metric='Fatalities')
    fill_esg_data(df, new_df, 'High-consequence injuries', metric='High-consequence injuries')
    fill_esg_data(df, new_df, 'Recordable injuries', metric='Recordable injuries')
    fill_esg_data(df, new_df, 'Recordable work-related ill health cases', metric='Number of recordable work-related illnesses or health conditions')
    fill_esg_data(df, new_df, 'Board Independence (%)', label='Board Composition', metric='Board independence')
    fill_esg_data(df, new_df, 'Women on the Board (%)', label='Board Composition', metric='Women on the board')
    fill_esg_data(df, new_df, 'Women in Management Team (%)', label='Management Diversity', metric='Women in the management team')
    fill_esg_data(df, new_df, 'Anti-Corruption Disclosures', metric='Anti-corruption disclosures')
    fill_esg_data(df, new_df, 'Anti-Corruption Training for Employees (%)', label='Ethical Behaviour', metric='Anti-corruption training for employees')
    fill_esg_data(df, new_df, 'List of Relevant Certifications', label='Certifications', metric='List of relevant certifications')
    fill_esg_data(df, new_df, 'Alignment with Frameworks and Disclosure Practices', label='Alignment with Frameworks', metric='Alignment with frameworks and disclosure practices')
    fill_esg_data(df, new_df, 'Assurance of Sustainability Report', label='Assurance', metric='Assurance of sustainability report')

    new_df.insert(0, 'Company Name', company_name)
    new_df.rename_axis('Year', inplace=True)
    new_df.reset_index(inplace=True)
    new_df.fillna('', inplace=True)

    return new_df
    
new_df = restructure(data,'Company Name')
print(new_df)

    Year  Company Name GHG Emissions (Scope 1) (tCO2e)  \
0   2012  Company Name
1   2013  Company Name
2   2015  Company Name
3   2016  Company Name
4   2017  Company Name
5   2018  Company Name
6   2019  Company Name                          6652.0
7   2020  Company Name                          5881.0
8   2021  Company Name                         50000.0
9   2022  Company Name                         10200.0
10  2030  Company Name
11  2050  Company Name

   GHG Emissions (Scope 2) (tCO2e) GHG Emissions (Scope 3) (tCO2e)  \
0
1
2
3
4
5
6                           556442                           19595
7                         566582.0                         75284.0
8                           585251                           30000
9                             7500                            3000
10
11

   GHG Emissions (Total) (tCO2e) Total Energy Consumption (MWhs)  \
0
1
2
3
4
5
6                       582689.0                       3096716.0
7                       590272.0                       3301524.0
8                       607786.0                       3512504.0
9                        25000.0                         50000.0
10
11

   Total Water Consumption (ML) Total Waste Generated (t)  \
0
1
2
3
4
5
6                       684.125                      9832
7                       15000.0                     15000
8                        5000.0                     35297
9                        1200.0                       500
10
11

   Current Employees by Gender (Female %)  ... Recordable injuries  \
0                                          ...
1                                          ...
2                                          ...
3                                          ...
4                                          ...
5                                          ...
6                                    35.4  ...
7                                    48.0  ...                20.0
8                                    48.0  ...                20.0
9                                    45.5  ...                16.0
10                                         ...
11                                         ...

   Recordable work-related ill health cases Board Independence (%)  \
0
1
2
3
4
5
6
7                                         8
8                                         3                     75
9                                                               75
10
11

   Women on the Board (%) Women in Management Team (%)  \
0
1
2
3
4
5
6
7                    30.0                           40
8                    30.0                           40
9                    33.5
10
11

   Anti-Corruption Disclosures Anti-Corruption Training for Employees (%)  \
0
1
2
3
4
5
6
7                                                                   100.0
8                            7                                     5000.0
9                                                                   100.0
10
11

   List of Relevant Certifications  \
0
1
2
3
4
5
6
7
8
9
10
11

   Alignment with Frameworks and Disclosure Practices  \
0
1
2
3
4
5
6
7
8
9
10
11

   Assurance of Sustainability Report
0
1
2
3
4
5
6
7
8                                 1.0
9
10
11

[12 rows x 28 columns]

In [38]:
summary_table_path = summary_path

def append_to_summary(summary_table_path, new_df):
    existing_df = pd.read_excel(summary_table_path, sheet_name='E')

    # Ensure 'Year' and 'Company Name' are present in new_df
    if 'Year' not in new_df.columns or 'Company Name' not in new_df.columns:
        raise ValueError("new_df must contain 'Year' and 'Company Name' columns")

    # Go through each row in new_df
    for index, new_row in new_df.iterrows():
        # Check if there is an existing row that matches the 'Year' and 'Company Name'
        match = (existing_df['Year'] == new_row['Year']) & (existing_df['Company Name'] == new_row['Company Name'])
        
        if existing_df[match].empty:
            # If there is no matching row, concatenate the new row
            existing_df = pd.concat([existing_df, pd.DataFrame([new_row])], ignore_index=True)
        else:
            for col in new_df.columns:
                existing_value = existing_df.loc[match, col].values[0]
                new_value = new_row[col]
                
                if pd.isna(existing_value):
                    existing_df.loc[match, col] = new_value
                else:
                    # If the existing value is not empty, keep the larger one
                    if pd.notna(new_value):  # Only compare if new_value is not NaN
                        existing_df.loc[match, col] = max(existing_value, new_value)

    # Write the updated dataframe back to the same Excel file
    existing_df.to_excel(summary_table_path, sheet_name='E', index=False)

In [39]:
def xlsx_to_summary(xlsx_file_path, summary_table_path, company_name):
    data = pd.read_excel(xlsx_file_path)
    data = data.apply(modify_units, axis=1)
    new_df = restructure(data, company_name)
    append_to_summary(summary_table_path, new_df)
    
xlsx_to_summary(input_file, summary_table_path, 'Test2')

C:\Users\HONOR\AppData\Local\Temp\ipykernel_21616\2172530870.py:24: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  existing_df.loc[match, col] = new_value
C:\Users\HONOR\AppData\Local\Temp\ipykernel_21616\2172530870.py:24: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  existing_df.loc[match, col] = new_value
C:\Users\HONOR\AppData\Local\Temp\ipykernel_21616\2172530870.py:24: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  existing_df.loc[match, col] = new_value
C:\Users\HONOR\AppData\Local\Temp\ipykernel_21616\2172530870.py:24: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  existing_df.loc[match, col] = new_value
C:\Users\HONOR\AppData\Local\Temp\ipykernel_21616\2172530870.py:24: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  existing_df.loc[match, col] = new_value
C:\Users\HONOR\AppData\Local\Temp\ipykernel_21616\2172530870.py:24: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  existing_df.loc[match, col] = new_value
C:\Users\HONOR\AppData\Local\Temp\ipykernel_21616\2172530870.py:24: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  existing_df.loc[match, col] = new_value
C:\Users\HONOR\AppData\Local\Temp\ipykernel_21616\2172530870.py:24: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  existing_df.loc[match, col] = new_value
C:\Users\HONOR\AppData\Local\Temp\ipykernel_21616\2172530870.py:24: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  existing_df.loc[match, col] = new_value
C:\Users\HONOR\AppData\Local\Temp\ipykernel_21616\2172530870.py:24: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  existing_df.loc[match, col] = new_value
C:\Users\HONOR\AppData\Local\Temp\ipykernel_21616\2172530870.py:24: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  existing_df.loc[match, col] = new_value
C:\Users\HONOR\AppData\Local\Temp\ipykernel_21616\2172530870.py:24: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  existing_df.loc[match, col] = new_value
C:\Users\HONOR\AppData\Local\Temp\ipykernel_21616\2172530870.py:24: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  existing_df.loc[match, col] = new_value
C:\Users\HONOR\AppData\Local\Temp\ipykernel_21616\2172530870.py:24: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  existing_df.loc[match, col] = new_value
C:\Users\HONOR\AppData\Local\Temp\ipykernel_21616\2172530870.py:24: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  existing_df.loc[match, col] = new_value
C:\Users\HONOR\AppData\Local\Temp\ipykernel_21616\2172530870.py:24: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  existing_df.loc[match, col] = new_value
C:\Users\HONOR\AppData\Local\Temp\ipykernel_21616\2172530870.py:24: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  existing_df.loc[match, col] = new_value
C:\Users\HONOR\AppData\Local\Temp\ipykernel_21616\2172530870.py:24: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  existing_df.loc[match, col] = new_value
C:\Users\HONOR\AppData\Local\Temp\ipykernel_21616\2172530870.py:24: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  existing_df.loc[match, col] = new_value
C:\Users\HONOR\AppData\Local\Temp\ipykernel_21616\2172530870.py:24: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  existing_df.loc[match, col] = new_value
C:\Users\HONOR\AppData\Local\Temp\ipykernel_21616\2172530870.py:24: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  existing_df.loc[match, col] = new_value
C:\Users\HONOR\AppData\Local\Temp\ipykernel_21616\2172530870.py:24: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  existing_df.loc[match, col] = new_value
C:\Users\HONOR\AppData\Local\Temp\ipykernel_21616\2172530870.py:24: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  existing_df.loc[match, col] = new_value
C:\Users\HONOR\AppData\Local\Temp\ipykernel_21616\2172530870.py:24: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  existing_df.loc[match, col] = new_value
C:\Users\HONOR\AppData\Local\Temp\ipykernel_21616\2172530870.py:24: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  existing_df.loc[match, col] = new_value
C:\Users\HONOR\AppData\Local\Temp\ipykernel_21616\2172530870.py:24: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  existing_df.loc[match, col] = new_value