In [127]:
import pandas as pd
from sklearn.impute import SimpleImputer
import plotly.express as px

In [70]:
fin_metric = ["Diluted Normalised EPS", "Diluted Normalised EPS Growth (%)", "Current Ratio", "Quick Ratio", "Asset Turnover", "Return on Equity (ROE)", 
              "Return on Assets (ROA)", "Operating Margin", "Net Profit Margin"]

In [104]:
def fin_data (file_path, company_name, fin_metric):
    data = pd.read_csv(file_path)
    fin_data_used = data[data['Indicator'].isin(fin_metric)].reset_index(drop=True)
    
    df_melted = fin_data_used.melt(id_vars=['Indicator'], var_name='Year', value_name='Value')
    df_melted_unique = df_melted.groupby(['Year', 'Indicator']).first().reset_index()
    
    fin_df = df_melted_unique.pivot(index='Year', columns='Indicator', values='Value').reset_index()
    
    cols_to_convert = fin_df.columns.difference(['Year'])
    fin_df[cols_to_convert] = fin_df[cols_to_convert].apply(pd.to_numeric, errors='coerce')
    
    fin_data_num = fin_df.iloc[:, 1:]
    year_column = fin_df['Year']
    
    imputer = SimpleImputer(strategy='mean')
    fin_data_imputed = pd.DataFrame(imputer.fit_transform(fin_data_num), columns=fin_data_num.columns)
    
    fin_data_imputed = pd.concat([fin_data_imputed, year_column], axis=1)
    
    fin_data_imputed["Company"] = company_name
    
    return fin_data_imputed

In [105]:
file_path1 = "../data/Captii_financial_statements.csv"
company_name1 = "Captii"
df1 = fin_data(file_path1, company_name1, fin_metric)
df1

,Asset Turnover,Current Ratio,Diluted Normalised EPS,Diluted Normalised EPS Growth (%),Net Profit Margin,Operating Margin,Quick Ratio,Return on Assets (ROA),Return on Equity (ROE),Year,Company
0,0.3595,2.915,0.07,22.7075,0.120,0.155,2.914,-0.0085,-0.0015,2020,Captii
1,0.3880,3.942,0.11,49.1000,0.196,0.238,3.941,0.0760,0.0790,2021,Captii
2,0.3750,3.307,0.24,125.8700,0.398,0.438,3.307,0.1490,0.1900,2022,Captii
3,0.3460,4.459,-0.11,-146.2300,-0.140,-0.107,4.458,-0.0480,-0.0710,2023,Captii
4,0.3290,4.822,-0.18,62.0900,-0.641,-0.616,4.821,-0.2110,-0.2040,2024,Captii

In [106]:
file_path2 = "../data/CSE Global_financial_statements.csv"
company_name2 = "CSE Global"
df2 = fin_data(file_path2, company_name2, fin_metric)
df2

,Asset Turnover,Current Ratio,Diluted Normalised EPS,Diluted Normalised EPS Growth (%),Net Profit Margin,Operating Margin,Quick Ratio,Return on Assets (ROA),Return on Equity (ROE),Year,Company
0,1.25325,1.483,0.05,166.19,0.053,0.067,1.360,0.040,0.08975,2020,CSE Global
1,1.26000,1.580,0.05,16.57,0.056,0.073,1.418,0.070,0.15200,2021,CSE Global
2,1.17300,1.837,0.03,-47.06,0.032,0.043,1.622,0.038,0.07800,2022,CSE Global
3,1.25200,1.465,0.00,-85.47,0.009,0.015,1.231,0.011,0.02400,2023,CSE Global
4,1.32800,1.197,0.04,780.72,0.031,0.053,0.986,0.041,0.10500,2024,CSE Global

In [107]:
file_path3 = "../data/V2Y Corp_financial_statements.csv"
company_name3 = "V2Y Corp"
df3 = fin_data(file_path3, company_name3, fin_metric)
df3

,Asset Turnover,Current Ratio,Diluted Normalised EPS,Diluted Normalised EPS Growth (%),Net Profit Margin,Operating Margin,Quick Ratio,Return on Assets (ROA),Return on Equity (ROE),Year,Company
0,0.1865,1.150,0.00,-39.003333,-0.111,-0.136,0.939,-0.63775,-1.877,2020,V2Y Corp
1,0.1810,1.676,-0.02,-39.003333,-2.884,-2.951,1.676,-0.52300,-1.376,2021,V2Y Corp
2,0.2880,1.419,-0.00,-73.540000,-1.646,-1.697,1.419,-0.47500,-0.916,2022,V2Y Corp
3,0.1250,2.437,-0.00,9.580000,-7.188,-7.431,2.437,-0.90100,-2.369,2023,V2Y Corp
4,0.1520,1.136,-0.00,-53.050000,-4.284,-4.233,1.136,-0.65200,-2.847,2024,V2Y Corp

In [108]:
file_path4 = "../data/SinoCloud Grp_financial_statements.csv"
company_name4 = "SinoCloud Grp"
df4 = fin_data(file_path4, company_name4, fin_metric)
df4

,Asset Turnover,Current Ratio,Diluted Normalised EPS,Diluted Normalised EPS Growth (%),Net Profit Margin,Operating Margin,Quick Ratio,Return on Assets (ROA),Return on Equity (ROE),Year,Company
0,0.07575,1.342,-0.04,-297.2975,-0.475,-0.372,1.342,-0.4605,-0.57175,2020,SinoCloud Grp
1,0.10000,0.401,0.09,-363.3800,-5.750,-5.569,0.401,-0.5770,-0.58400,2021,SinoCloud Grp
2,0.03800,0.559,-0.09,-194.8900,-1.766,-1.353,0.559,-0.0670,-0.10100,2022,SinoCloud Grp
3,0.07600,0.163,0.36,-503.7800,-12.374,-11.535,0.163,-0.9450,-1.19000,2023,SinoCloud Grp
4,0.08900,0.146,-0.10,-127.1400,-2.840,-1.769,0.146,-0.2530,-0.41200,2024,SinoCloud Grp

In [109]:
file_path5 = "../data/Addvalue Tech_financial_statements.csv"
company_name5 = "Addvalue Tech"
df5 = fin_data(file_path5, company_name5, fin_metric)
df5

,Asset Turnover,Current Ratio,Diluted Normalised EPS,Diluted Normalised EPS Growth (%),Net Profit Margin,Operating Margin,Quick Ratio,Return on Assets (ROA),Return on Equity (ROE),Year,Company
0,0.39925,0.954,0.0,-137.81,0.190,0.305,0.715,-0.2355,-0.75275,2020,Addvalue Tech
1,0.13500,0.922,-0.0,-421.43,-2.308,-1.619,0.680,-0.3110,-0.78400,2021,Addvalue Tech
2,0.31100,0.540,-0.0,3.81,-1.459,-1.215,0.274,-0.4540,-1.54800,2022,Addvalue Tech
3,0.48300,1.398,-0.0,-67.58,-0.396,-0.377,0.523,-0.1920,-0.72500,2023,Addvalue Tech
4,0.66800,1.286,-0.0,-66.04,0.022,0.081,0.558,0.0150,0.04600,2024,Addvalue Tech

In [110]:
file_path6 = "../data/Nanofilm_financial_statements.csv"
company_name6 = "Nanofilm"
df6 = fin_data(file_path6, company_name6, fin_metric)
df6

,Asset Turnover,Current Ratio,Diluted Normalised EPS,Diluted Normalised EPS Growth (%),Net Profit Margin,Operating Margin,Quick Ratio,Return on Assets (ROA),Return on Equity (ROE),Year,Company
0,0.40825,1.985,0.07,-20.285,0.242,0.279,1.719,0.0815,0.11625,2020,Nanofilm
1,0.55800,4.067,0.10,50.060,0.266,0.328,3.887,0.1480,0.20900,2021,Nanofilm
2,0.41300,4.437,0.09,-10.900,0.253,0.278,4.203,0.1050,0.14500,2022,Nanofilm
3,0.37600,4.995,0.07,-29.390,0.182,0.193,4.676,0.0690,0.10300,2023,Nanofilm
4,0.28600,5.865,0.01,-90.910,0.015,0.017,5.440,0.0040,0.00800,2024,Nanofilm

In [111]:
file_path7 = "../data/Venture_financial_statements.csv"
company_name7 = "Venture"
df7 = fin_data(file_path7, company_name7, fin_metric)
df7

,Asset Turnover,Current Ratio,Diluted Normalised EPS,Diluted Normalised EPS Growth (%),Net Profit Margin,Operating Margin,Quick Ratio,Return on Assets (ROA),Return on Equity (ROE),Year,Company
0,0.92575,3.105,1.25,-5.57,0.100,0.113,2.170,0.089,0.11575,2020,Venture
1,0.92500,3.652,1.03,-17.94,0.099,0.112,2.620,0.091,0.11700,2021,Venture
2,0.90400,3.017,1.07,4.06,0.101,0.114,1.860,0.091,0.11800,2022,Venture
3,1.04600,3.172,1.27,18.54,0.096,0.114,1.979,0.100,0.13300,2023,Venture
4,0.82800,3.739,0.93,-26.94,0.089,0.100,2.558,0.074,0.09500,2024,Venture

In [135]:
# file_path8 = "../data/AdvancedSystems_financial_statements.csv"
# company_name8 = "AdvancedSystems"
# df8 = fin_data(file_path8, company_name8, fin_metric)
# df8

In [115]:
file_path9 = "../data/AEM SGD_financial_statements.csv"
company_name9 = "AEM SGD"
df9 = fin_data(file_path9, company_name9, fin_metric)
df9

,Asset Turnover,Current Ratio,Diluted Normalised EPS,Diluted Normalised EPS Growth (%),Net Profit Margin,Operating Margin,Quick Ratio,Return on Assets (ROA),Return on Equity (ROE),Year,Company
0,1.17675,2.207,0.19,-0.04,0.163,0.195,1.566,0.172,0.28675,2020,AEM SGD
1,1.84200,2.405,0.35,81.31,0.188,0.218,1.685,0.346,0.56400,2021,AEM SGD
2,1.08100,2.339,0.31,-11.05,0.163,0.198,1.467,0.176,0.30000,2022,AEM SGD
3,1.14800,3.511,0.40,30.60,0.146,0.184,1.325,0.168,0.28600,2023,AEM SGD
4,0.63600,2.795,-0.00,-101.02,-0.002,0.029,0.924,-0.002,-0.00300,2024,AEM SGD

In [116]:
file_path10 = "../data/Asia Vets_financial_statements.csv"
company_name10 = "Asia Vets"
df10 = fin_data(file_path10, company_name10, fin_metric)
df10

,Asset Turnover,Current Ratio,Diluted Normalised EPS,Diluted Normalised EPS Growth (%),Net Profit Margin,Operating Margin,Quick Ratio,Return on Assets (ROA),Return on Equity (ROE),Year,Company
0,0.14675,16.955,0.01,4.64,0.202,0.212,16.838,-0.0225,-0.0235,2020,Asia Vets
1,0.19800,4.949,0.00,-97.97,0.003,0.022,4.905,0.0010,0.0010,2021,Asia Vets
2,0.14500,18.383,-0.00,4.64,-0.090,-0.093,18.212,-0.0130,-0.0140,2022,Asia Vets
3,0.12200,15.321,-0.01,114.75,-0.317,-0.316,15.165,-0.0390,-0.0400,2023,Asia Vets
4,0.12200,13.867,-0.01,-2.86,-0.320,-0.316,13.724,-0.0390,-0.0410,2024,Asia Vets

In [117]:
file_path11 = "../data/ASTI_financial_statements.csv"
company_name11 = "ASTI"
df11 = fin_data(file_path11, company_name11, fin_metric)
df11

,Asset Turnover,Current Ratio,Diluted Normalised EPS,Diluted Normalised EPS Growth (%),Net Profit Margin,Operating Margin,Quick Ratio,Return on Assets (ROA),Return on Equity (ROE),Year,Company
0,0.696,2.219,-0.02,-147.65,0.310,0.369,2.077,-0.0875,-0.033,2020,ASTI
1,0.563,2.404,0.00,-110.67,-0.041,0.111,2.283,-0.0230,0.028,2021,ASTI
2,0.644,1.756,-0.02,-147.65,-0.488,-0.406,1.607,-0.3140,-0.171,2022,ASTI
3,0.887,1.888,0.01,-151.16,0.068,0.087,1.737,0.0600,0.088,2023,ASTI
4,0.690,1.835,-0.01,-181.12,-0.105,-0.066,1.657,-0.0730,-0.077,2024,ASTI

In [118]:
file_path12 = "../data/UMS_financial_statements.csv"
company_name12 = "UMS"
df12 = fin_data(file_path12, company_name12, fin_metric)
df12

,Asset Turnover,Current Ratio,Diluted Normalised EPS,Diluted Normalised EPS Growth (%),Net Profit Margin,Operating Margin,Quick Ratio,Return on Assets (ROA),Return on Equity (ROE),Year,Company
0,0.674,3.327,0.05,23.0575,0.252,0.255,1.736,0.15525,0.20875,2020,UMS
1,0.551,2.841,0.06,26.5700,0.221,0.251,1.673,0.12200,0.14700,2021,UMS
2,0.727,2.457,0.08,26.5900,0.212,0.287,1.483,0.15400,0.20000,2022,UMS
3,0.804,3.078,0.15,79.1700,0.274,0.282,1.733,0.22000,0.31700,2023,UMS
4,0.614,3.564,0.09,-40.1000,0.204,0.230,1.885,0.12500,0.17100,2024,UMS

In [119]:
file_path13 = "../data/Audience_financial_statements.csv"
company_name13 = "Audience"
df13 = fin_data(file_path13, company_name13, fin_metric)
df13

,Asset Turnover,Current Ratio,Diluted Normalised EPS,Diluted Normalised EPS Growth (%),Net Profit Margin,Operating Margin,Quick Ratio,Return on Assets (ROA),Return on Equity (ROE),Year,Company
0,0.9085,2.866,0.02,18.055,0.274,0.334,2.866,0.35075,0.5165,2020,Audience
1,1.1860,1.705,0.02,25.200,0.387,0.482,1.705,0.45900,0.8610,2021,Audience
2,0.8930,6.703,0.02,29.450,0.426,0.524,6.703,0.38000,0.5340,2022,Audience
3,0.8270,5.774,0.03,35.630,0.402,0.506,5.774,0.33300,0.3980,2023,Audience
4,0.7280,7.123,0.03,-18.060,0.317,0.393,7.123,0.23100,0.2730,2024,Audience

In [120]:
file_path14 = "../data/ST Engineering_financial_statements.csv"
company_name14 = "ST Engineering"
df14 = fin_data(file_path14, company_name14, fin_metric)
df14

,Asset Turnover,Current Ratio,Diluted Normalised EPS,Diluted Normalised EPS Growth (%),Net Profit Margin,Operating Margin,Quick Ratio,Return on Assets (ROA),Return on Equity (ROE),Year,Company
0,0.71525,0.852,0.18,1.095,0.075,0.082,0.611,0.048,0.23425,2020,ST Engineering
1,0.73500,1.164,0.17,-8.500,0.073,0.079,0.868,0.054,0.23100,2021,ST Engineering
2,0.75100,1.145,0.18,6.750,0.074,0.085,0.875,0.055,0.24300,2022,ST Engineering
3,0.70900,0.765,0.16,-10.580,0.060,0.078,0.555,0.043,0.22200,2023,ST Engineering
4,0.66600,0.905,0.19,16.710,0.060,0.085,0.646,0.040,0.24100,2024,ST Engineering

In [121]:
file_path15 = "../data/Singtel_financial_statements.csv"
company_name15 = "Singtel"
df15 = fin_data(file_path15, company_name15, fin_metric)
df15

,Asset Turnover,Current Ratio,Diluted Normalised EPS,Diluted Normalised EPS Growth (%),Net Profit Margin,Operating Margin,Quick Ratio,Return on Assets (ROA),Return on Equity (ROE),Year,Company
0,0.3125,0.678,0.05,28.455,0.064,0.144,0.652,0.029,0.05125,2020,Singtel
1,0.3230,0.715,0.06,16.730,0.036,0.035,0.685,0.012,0.02100,2021,Singtel
2,0.3160,0.898,0.11,89.330,0.128,0.084,0.868,0.040,0.07100,2022,Singtel
3,0.3060,1.034,0.13,24.370,0.153,0.077,0.992,0.047,0.08200,2023,Singtel
4,0.3050,1.354,0.11,-16.610,0.057,-0.007,1.315,0.017,0.03100,2024,Singtel

In [122]:
file_path16 = "../data/GSS Energy_financial_statements.csv"
company_name16 = "GSS Energy"
df16 = fin_data(file_path16, company_name16, fin_metric)
df16

,Asset Turnover,Current Ratio,Diluted Normalised EPS,Diluted Normalised EPS Growth (%),Net Profit Margin,Operating Margin,Quick Ratio,Return on Assets (ROA),Return on Equity (ROE),Year,Company
0,1.10275,1.747,0.00,-64.91,0.014,0.022,1.322,-0.0275,-0.0605,2020,GSS Energy
1,1.17900,1.551,0.01,175.37,0.049,0.066,1.195,0.0580,0.1080,2021,GSS Energy
2,1.02000,1.609,0.01,-20.90,0.043,0.052,0.953,0.0440,0.0850,2022,GSS Energy
3,1.10200,1.282,-0.02,-372.23,-0.116,-0.004,0.646,-0.1280,-0.2510,2023,GSS Energy
4,1.11000,1.154,-0.01,-41.88,-0.076,-0.033,0.789,-0.0840,-0.1840,2024,GSS Energy

In [123]:
fin_dataframes = [df1, df2, df3, df4, df5, df6, df7, df9, df10, df11, df12, df13, df14, df15, df16]  
fin_df = pd.concat(fin_dataframes, ignore_index=True)
fin_df

,Asset Turnover,Current Ratio,Diluted Normalised EPS,Diluted Normalised EPS Growth (%),Net Profit Margin,Operating Margin,Quick Ratio,Return on Assets (ROA),Return on Equity (ROE),Year,Company
0,0.35950,2.915,0.07,22.7075,0.120,0.155,2.914,-0.0085,-0.0015,2020,Captii
1,0.38800,3.942,0.11,49.1000,0.196,0.238,3.941,0.0760,0.0790,2021,Captii
2,0.37500,3.307,0.24,125.8700,0.398,0.438,3.307,0.1490,0.1900,2022,Captii
3,0.34600,4.459,-0.11,-146.2300,-0.140,-0.107,4.458,-0.0480,-0.0710,2023,Captii
4,0.32900,4.822,-0.18,62.0900,-0.641,-0.616,4.821,-0.2110,-0.2040,2024,Captii
...,...,...,...,...,...,...,...,...,...,...,...
70,1.10275,1.747,0.00,-64.9100,0.014,0.022,1.322,-0.0275,-0.0605,2020,GSS Energy
71,1.17900,1.551,0.01,175.3700,0.049,0.066,1.195,0.0580,0.1080,2021,GSS Energy
72,1.02000,1.609,0.01,-20.9000,0.043,0.052,0.953,0.0440,0.0850,2022,GSS Energy
73,1.10200,1.282,-0.02,-372.2300,-0.116,-0.004,0.646,-0.1280,-0.2510,2023,GSS Energy
74,1.11000,1.154,-0.01,-41.8800,-0.076,-0.033,0.789,-0.0840,-0.1840,2024,GSS Energy

In [124]:
fin_df_num = fin_df.iloc[: , :-1]
fin_df_num

,Asset Turnover,Current Ratio,Diluted Normalised EPS,Diluted Normalised EPS Growth (%),Net Profit Margin,Operating Margin,Quick Ratio,Return on Assets (ROA),Return on Equity (ROE),Year
0,0.35950,2.915,0.07,22.7075,0.120,0.155,2.914,-0.0085,-0.0015,2020
1,0.38800,3.942,0.11,49.1000,0.196,0.238,3.941,0.0760,0.0790,2021
2,0.37500,3.307,0.24,125.8700,0.398,0.438,3.307,0.1490,0.1900,2022
3,0.34600,4.459,-0.11,-146.2300,-0.140,-0.107,4.458,-0.0480,-0.0710,2023
4,0.32900,4.822,-0.18,62.0900,-0.641,-0.616,4.821,-0.2110,-0.2040,2024
...,...,...,...,...,...,...,...,...,...,...
70,1.10275,1.747,0.00,-64.9100,0.014,0.022,1.322,-0.0275,-0.0605,2020
71,1.17900,1.551,0.01,175.3700,0.049,0.066,1.195,0.0580,0.1080,2021
72,1.02000,1.609,0.01,-20.9000,0.043,0.052,0.953,0.0440,0.0850,2022
73,1.10200,1.282,-0.02,-372.2300,-0.116,-0.004,0.646,-0.1280,-0.2510,2023
74,1.11000,1.154,-0.01,-41.8800,-0.076,-0.033,0.789,-0.0840,-0.1840,2024

In [126]:
fin_year_mean = fin_df_num.groupby('Year').mean().reset_index()
fin_year_mean

,Year,Asset Turnover,Current Ratio,Diluted Normalised EPS,Diluted Normalised EPS Growth (%),Net Profit Margin,Operating Margin,Quick Ratio,Return on Assets (ROA),Return on Equity (ROE)
0,2020,0.622717,2.919000,0.125333,-29.891056,0.098200,0.134933,2.588467,-0.034283,-0.113383
1,2021,0.674933,2.264933,0.135333,-41.198889,-0.627267,-0.541600,1.974800,0.000200,-0.015067
2,2022,0.605267,3.360400,0.135333,-14.366000,-0.241267,-0.177400,3.027467,-0.006067,-0.052400
3,2023,0.640600,3.382800,0.162667,-70.252000,-1.276067,-1.215600,2.892933,-0.080133,-0.199533
4,2024,0.570067,3.385867,0.072667,6.252667,-0.498200,-0.403467,2.913867,-0.051133,-0.186533

In [129]:
fin_year_mean2 = fin_year_mean.melt(id_vars = "Year", var_name = "type", value_name = "value")
fin_year_mean2.head()

   Year            type     value
0  2020  Asset Turnover  0.622717
1  2021  Asset Turnover  0.674933
2  2022  Asset Turnover  0.605267
3  2023  Asset Turnover  0.640600
4  2024  Asset Turnover  0.570067

In [131]:
fig = px.line(fin_year_mean2, x = "Year", y = "value", color = "type", markers = True)
fig.show()

In [132]:
fin_df.to_csv('financial data.csv', index=False)

In [133]:
fin_year_mean.to_csv('financial mean.csv', index=False)

In [139]:
soft_serve = ['Captii', 'CSE Global', 'V2Y Corp', 'SinoCloud Grp']
tech_equip = ['Addvalue Tech', 'Nanofilm', 'Venture']
semi = ['AEM SGD', 'Asia Vets', 'ASTI', 'UMS']
info_tech = ['Audience']
engin_serve = ['ST Engineering', 'Singtel', 'GSS Energy']

In [137]:
fin_soft_serve = fin_df[fin_df['Company'].isin(soft_serve)].reset_index(drop=True)
soft_serve_num = fin_soft_serve.iloc[: , :-1]
fin_soft_serve_mean = soft_serve_num.groupby('Year').mean().reset_index()
fin_soft_serve_mean

,Year,Asset Turnover,Current Ratio,Diluted Normalised EPS,Diluted Normalised EPS Growth (%),Net Profit Margin,Operating Margin,Quick Ratio,Return on Assets (ROA),Return on Equity (ROE)
0,2020,0.46875,1.72250,0.0200,-36.850833,-0.10325,-0.07150,1.63875,-0.266688,-0.590125
1,2021,0.48225,1.89975,0.0575,-84.178333,-2.09550,-2.05225,1.85900,-0.238500,-0.432250
2,2022,0.46850,1.78050,0.0450,-47.405000,-0.74550,-0.64225,1.72675,-0.088750,-0.187250
3,2023,0.44975,2.13100,0.0625,-181.475000,-4.92325,-4.76450,2.07225,-0.470750,-0.901500
4,2024,0.47450,1.82525,-0.0600,165.655000,-1.93350,-1.64125,1.77225,-0.268750,-0.839500

In [138]:
fin_tech_equip = fin_df[fin_df['Company'].isin(tech_equip)].reset_index(drop=True)
tech_equip_num = fin_tech_equip.iloc[: , :-1]
fin_tech_equip_mean = tech_equip_num.groupby('Year').mean().reset_index()
fin_tech_equip_mean

,Year,Asset Turnover,Current Ratio,Diluted Normalised EPS,Diluted Normalised EPS Growth (%),Net Profit Margin,Operating Margin,Quick Ratio,Return on Assets (ROA),Return on Equity (ROE)
0,2020,0.577750,2.014667,0.440000,-54.555000,0.177333,0.232333,1.534667,-0.021667,-0.173583
1,2021,0.539333,2.880333,0.376667,-129.770000,-0.647667,-0.393000,2.395667,-0.024000,-0.152667
2,2022,0.542667,2.664667,0.386667,-1.010000,-0.368333,-0.274333,2.112333,-0.086000,-0.428333
3,2023,0.635000,3.188333,0.446667,-26.143333,-0.039333,-0.023333,2.392667,-0.007667,-0.163000
4,2024,0.594000,3.630000,0.313333,-61.296667,0.042000,0.066000,2.852000,0.031000,0.049667

In [140]:
fin_semi = fin_df[fin_df['Company'].isin(semi)].reset_index(drop=True)
semi_num = fin_semi.iloc[: , :-1]
fin_semi_mean = semi_num.groupby('Year').mean().reset_index()
fin_semi_mean

,Year,Asset Turnover,Current Ratio,Diluted Normalised EPS,Diluted Normalised EPS Growth (%),Net Profit Margin,Operating Margin,Quick Ratio,Return on Assets (ROA),Return on Equity (ROE)
0,2020,0.673375,6.17700,0.0575,-29.998125,0.23175,0.25775,5.55425,0.054312,0.10975
1,2021,0.788500,3.14975,0.1025,-25.190000,0.09275,0.15050,2.63650,0.111500,0.18500
2,2022,0.649250,6.23375,0.0925,-31.867500,-0.05075,-0.00350,5.69225,0.000750,0.07875
3,2023,0.740250,5.94950,0.1375,18.340000,0.04275,0.05925,4.99000,0.102250,0.16275
4,2024,0.515500,5.51525,0.0175,-81.275000,-0.05575,-0.03075,4.54750,0.002750,0.01250

In [141]:
fin_info_tech = fin_df[fin_df['Company'].isin(info_tech)].reset_index(drop=True)
info_tech_num = fin_info_tech.iloc[: , :-1]
fin_info_tech_mean = info_tech_num.groupby('Year').mean().reset_index()
fin_info_tech_mean

,Year,Asset Turnover,Current Ratio,Diluted Normalised EPS,Diluted Normalised EPS Growth (%),Net Profit Margin,Operating Margin,Quick Ratio,Return on Assets (ROA),Return on Equity (ROE)
0,2020,0.9085,2.866,0.02,18.055,0.274,0.334,2.866,0.35075,0.5165
1,2021,1.1860,1.705,0.02,25.200,0.387,0.482,1.705,0.45900,0.8610
2,2022,0.8930,6.703,0.02,29.450,0.426,0.524,6.703,0.38000,0.5340
3,2023,0.8270,5.774,0.03,35.630,0.402,0.506,5.774,0.33300,0.3980
4,2024,0.7280,7.123,0.03,-18.060,0.317,0.393,7.123,0.23100,0.2730

In [142]:
fin_engin_serve = fin_df[fin_df['Company'].isin(engin_serve)].reset_index(drop=True)
engin_serve_num = fin_engin_serve.iloc[: , :-1]
fin_engin_serve_mean = engin_serve_num.groupby('Year').mean().reset_index()
fin_engin_serve_mean

,Year,Asset Turnover,Current Ratio,Diluted Normalised EPS,Diluted Normalised EPS Growth (%),Net Profit Margin,Operating Margin,Quick Ratio,Return on Assets (ROA),Return on Equity (ROE)
0,2020,0.710167,1.092333,0.076667,-11.786667,0.051000,0.082667,0.861667,0.016500,0.075000
1,2021,0.745667,1.143333,0.080000,61.200000,0.052667,0.060000,0.916000,0.041333,0.120000
2,2022,0.695667,1.217333,0.100000,25.060000,0.081667,0.073667,0.898667,0.046333,0.133000
3,2023,0.705667,1.027000,0.090000,-119.480000,0.032333,0.050333,0.731000,-0.012667,0.017667
4,2024,0.693667,1.137667,0.096667,-13.926667,0.013667,0.015000,0.916667,-0.009000,0.029333

In [ ]:
fin_soft_serve_mean.to_csv('financial softwear mean.csv', index=False)
fin_tech_equip_mean.to_csv('financial technology hardware and equip mean.csv', index=False)
fin_semi_mean.to_csv('financial semiconductor mean.csv', index=False)
fin_info_tech_mean.to_csv('financial information tech mean.csv', index=False)
fin_engin_serve_mean.to_csv('financial engineering mean.csv', index=False)

In [144]:
df15.to_csv('Singtel financial data.csv', index=False)